body{
    margin: 0;
}
.pattern{
    background-image: url("img/pattern.png");
    background-color: #00b7ff;
    height:150px;  
    ;
}
.logo{
    width: 200px;
    margin-top: 40px;
}
#colore{
    color: blue;
}
header p{
    font-size: 12px;
}
.specifiche{
    font-size: 9px;
}
.evidenziato{
    background-color: yellow;
}
table {
    border-collapse: collapse;
    text-align: left;
}

th{
    background-color: #20a9e5;
    color: white;
    padding: 5px;
}

tr{
    background-color: #b1e5f2;
}
.cambio{
    background-color: white;
}

table td {
    padding: 5px;
    min-width: 250px;
}
